In [1]:
import pandas as pd
import sqlalchemy as sal
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\safana.y.rasheet.ali\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\safana.y.rasheet.ali\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (1.1.0)

In [2]:
df=pd.read_excel("C:/Users/safana.y.rasheet.ali/Desktop/MySQL practice/Amazon/Amazon Sale Report.xlsx")

In [3]:
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Category,Size,Courier Status,Qty,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,B2B,fulfilled-by
0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,T-shirt,S,On the Way,0,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,False,Easy Ship
1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,Shirt,3XL,Shipped,1,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,False,Easy Ship
2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,Shirt,XL,Shipped,1,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,True,NaN
3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Amazon.in,Standard,Blazzer,L,On the Way,0,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,False,Easy Ship
4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Amazon.in,Expedited,Trousers,3XL,Shipped,1,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,False,NaN

In [4]:
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency               7800
Amount                 7800
ship-city                35
ship-state               35
ship-postal-code         35
ship-country             35
B2B                       0
fulfilled-by          89713
dtype: int64

In [5]:
engine= sal.create_engine("mysql+mysqlconnector://root:#Learning247@localhost/amazon")
conn=engine.connect()

In [6]:
df.to_sql('amazon_sales_df',con=conn,index=False,if_exists='append')

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1054 (42S22): Unknown column 'Order ID' in 'field list'
[SQL: INSERT INTO amazon_sales_df (`Order ID`, `Date`, `Status`, `Fulfilment`, `Sales Channel`, `ship-service-level`, `Category`, `Size`, `Courier Status`, `Qty`, currency, `Amount`, `ship-city`, `ship-state`, `ship-postal-code`, `ship-country`, `B2B`, `fulfilled-by`) VALUES (%(Order_ID)s, %(Date)s, %(Status)s, %(Fulfilment)s, %(Sales_Channel)s, %(ship-service-level)s, %(Category)s, %(Size)s, %(Courier_Status)s, %(Qty)s, %(currency)s, %(Amount)s, %(ship-city)s, %(ship-state)s, %(ship-postal-code)s, %(ship-country)s, %(B2B)s, %(fulfilled-by)s)]
[parameters: [{'Order_ID': '405-8078784-5731545', 'Date': datetime.datetime(2022, 4, 30, 0, 0), 'Status': 'Cancelled', 'Fulfilment': 'Merchant', 'Sales_Channel': 'Amazon.in', 'ship-service-level': 'Standard', 'Category': 'T-shirt', 'Size': 'S', 'Courier_Status': 'On the Way', 'Qty': 0, 'currency': 'INR', 'Amount': 647.62, 'ship-city': 'MUMBAI', 'ship-state': 'MAHARASHTRA', 'ship-postal-code': 400081.0, 'ship-country': 'IN', 'B2B': 0, 'fulfilled-by': 'Easy Ship'}, {'Order_ID': '171-9198151-1101146', 'Date': datetime.datetime(2022, 4, 30, 0, 0), 'Status': 'Shipped - Delivered to Buyer', 'Fulfilment': 'Merchant', 'Sales_Channel': 'Amazon.in', 'ship-service-level': 'Standard', 'Category': 'Shirt', 'Size': '3XL', 'Courier_Status': 'Shipped', 'Qty': 1, 'currency': 'INR', 'Amount': 406.0, 'ship-city': 'BENGALURU', 'ship-state': 'KARNATAKA', 'ship-postal-code': 560085.0, 'ship-country': 'IN', 'B2B': 0, 'fulfilled-by': 'Easy Ship'}, {'Order_ID': '404-0687676-7273146', 'Date': datetime.datetime(2022, 4, 30, 0, 0), 'Status': 'Shipped', 'Fulfilment': 'Amazon', 'Sales_Channel': 'Amazon.in', 'ship-service-level': 'Expedited', 'Category': 'Shirt', 'Size': 'XL', 'Courier_Status': 'Shipped', 'Qty': 1, 'currency': 'INR', 'Amount': 329.0, 'ship-city': 'NAVI MUMBAI', 'ship-state': 'MAHARASHTRA', 'ship-postal-code': 410210.0, 'ship-country': 'IN', 'B2B': 1, 'fulfilled-by': None}, {'Order_ID': '403-9615377-8133951', 'Date': datetime.datetime(2022, 4, 30, 0, 0), 'Status': 'Cancelled', 'Fulfilment': 'Merchant', 'Sales_Channel': 'Amazon.in', 'ship-service-level': 'Standard', 'Category': 'Blazzer', 'Size': 'L', 'Courier_Status': 'On the Way', 'Qty': 0, 'currency': 'INR', 'Amount': 753.33, 'ship-city': 'PUDUCHERRY', 'ship-state': 'PUDUCHERRY', 'ship-postal-code': 605008.0, 'ship-country': 'IN', 'B2B': 0, 'fulfilled-by': 'Easy Ship'}, {'Order_ID': '407-1069790-7240320', 'Date': datetime.datetime(2022, 4, 30, 0, 0), 'Status': 'Shipped', 'Fulfilment': 'Amazon', 'Sales_Channel': 'Amazon.in', 'ship-service-level': 'Expedited', 'Category': 'Trousers', 'Size': '3XL', 'Courier_Status': 'Shipped', 'Qty': 1, 'currency': 'INR', 'Amount': 574.0, 'ship-city': 'CHENNAI', 'ship-state': 'TAMIL NADU', 'ship-postal-code': 600073.0, 'ship-country': 'IN', 'B2B': 0, 'fulfilled-by': None}, {'Order_ID': '404-1490984-4578765', 'Date': datetime.datetime(2022, 4, 30, 0, 0), 'Status': 'Shipped', 'Fulfilment': 'Amazon', 'Sales_Channel': 'Amazon.in', 'ship-service-level': 'Expedited', 'Category': 'T-shirt', 'Size': 'XL', 'Courier_Status': 'Shipped', 'Qty': 1, 'currency': 'INR', 'Amount': 824.0, 'ship-city': 'GHAZIABAD', 'ship-state': 'UTTAR PRADESH', 'ship-postal-code': 201102.0, 'ship-country': 'IN', 'B2B': 0, 'fulfilled-by': None}, {'Order_ID': '408-5748499-6859555', 'Date': datetime.datetime(2022, 4, 30, 0, 0), 'Status': 'Shipped', 'Fulfilment': 'Amazon', 'Sales_Channel': 'Amazon.in', 'ship-service-level': 'Expedited', 'Category': 'T-shirt', 'Size': 'L', 'Courier_Status': 'Shipped', 'Qty': 1, 'currency': 'INR', 'Amount': 653.0, 'ship-city': 'CHANDIGARH', 'ship-state': 'CHANDIGARH', 'ship-postal-code': 160036.0, 'ship-country': 'IN', 'B2B': 0, 'fulfilled-by': None}, {'Order_ID': '406-7807733-3785945', 'Date': datetime.datetime(2022, 4, 30, 0, 0), 'Status': 'Shipped - Delivered to Buyer', 'Fulfilment': 'Merchant', 'Sales_Channel': 'Amazon.in', 'ship-service-level': 'Standard', 'Category': 'Shirt', 'Size': 'S', 'Courier_Status': 'Shipped', 'Qty': 1, 'currency': 'INR', 'Amount': 399.0, 'ship-city': 'HYDERABAD', 'ship-state': 'TELANGANA', 'ship-postal-code': 500032.0, 'ship-country': 'IN', 'B2B': 0, 'fulfilled-by': 'Easy Ship'}  ... displaying 10 of 128976 total bound parameter sets ...  {'Order_ID': '402-6184140-0545956', 'Date': datetime.datetime(2022, 5, 31, 0, 0), 'Status': 'Shipped', 'Fulfilment': 'Amazon', 'Sales_Channel': 'Amazon.in', 'ship-service-level': 'Expedited', 'Category': 'T-shirt', 'Size': 'XS', 'Courier_Status': 'Shipped', 'Qty': 1, 'currency': 'INR', 'Amount': 1199.0, 'ship-city': 'Halol', 'ship-state': 'Gujarat', 'ship-postal-code': 389350.0, 'ship-country': 'IN', 'B2B': 0, 'fulfilled-by': None}, {'Order_ID': '408-7436540-8728312', 'Date': datetime.datetime(2022, 5, 31, 0, 0), 'Status': 'Shipped', 'Fulfilment': 'Amazon', 'Sales_Channel': 'Amazon.in', 'ship-service-level': 'Expedited', 'Category': 'T-shirt', 'Size': 'S', 'Courier_Status': 'Shipped', 'Qty': 1, 'currency': 'INR', 'Amount': 696.0, 'ship-city': 'Raipur', 'ship-state': 'CHHATTISGARH', 'ship-postal-code': 492014.0, 'ship-country': 'IN', 'B2B': 0, 'fulfilled-by': None}]]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
df.columns=df.columns.str.replace('-','_')

In [ ]:
df.columns=df.columns.str.lower()

In [ ]:
df.columns=df.columns.str.replace(' ','_')

In [ ]:
df.columns

In [ ]:
df.head()

In [ ]:
# laod into Amazon database
df.to_sql('amazon_sales_df2',con=conn,index=False,if_exists='append')

In [ ]:
df.info()

In [ ]:
# exporting data from MySQL
import mysql.connector

In [ ]:
host="localhost",          # e.g., "localhost" or "127.0.0.1"
username="root",      # your MySQL username
password="#Learning247",  # your MySQL password
database="amazon"   # name of the database you want to connect to

In [ ]:
connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'

In [ ]:
"""connection = mysql.connector.connect(
    host="localhost",          # e.g., "localhost" or "127.0.0.1"
    user="root",      # your MySQL username
    password="#Learning247",  # your MySQL password
    database="amazon"   # name of the database you want to connect to
)"""

In [ ]:
query = "SELECT * FROM amazon_sales_df2"

In [ ]:
amazon_df = pd.read_sql(query, conn)

In [ ]:
len(amazon_df)

In [ ]:
amazon_df.count()

In [ ]:
amazon_df.to_csv("C:/Users/safana.y.rasheet.ali/Desktop/MySQL practice/Amazon/Amazon Sale final.csv",index=False)